<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
		<p v-if="show">You can see me!</p>
    <p v-else>Now you see me!</p>
    <template v-if="show">
      <h2> A heading inside a template</h2>
      <p> A paragraph inside a template</p>
    </template>
    <p v-show="show">Do you also see me?</p>
    <button @click="show=!show">Switch</button>
	</div>	

  <script src="app.js"></script>
</body>
</html>
