<template>
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <ul class="list-group">
        <app-server-list 
        v-for="server in servers"
        :server = "server"></app-server-list>
      </ul>
    </div>
    <app-server-details 
      :currentDisplayStatus="currentStatus" 
      :currentDisplayServer="currentServer"
      ></app-server-details>
  </div>
</template>


<script>
  import ServerDetails from './ServerDetails.vue';
  import ServerList from './ServerList.vue';
  export default {
    data: function() {
      return {
        servers: [
          { id: 1, status: 'Normal' },
          { id: 2, status: 'Critical' },
          { id: 3, status: 'Unknown' },
          { id: 4, status: 'Normal' },
          { id: 5, status: 'Normal' }
        ],
        currentStatus: 'unknown',
        currentServer: 'unknown'
      }
    },
    methods: {

    },
    components: {
      'app-server-details': ServerDetails,
      'app-server-list': ServerList
    }
  }
</script>

