<template>
  <div class="container">
    <form>
      <div class="row" v-if="!isSubmitted">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
          <!-- Exercise 1 -->
          <!-- Create a Signup Form where you retrieve the following Information -->
          <!-- Full Name (First Name + Last Name) -->
          <!-- Mail -->
          <!-- Password -->
          <!-- Store Data? Yes/No -->
          <h1> Sign Up Form </h1>
          <div>
            <label for="firstName">First Name</label>
            <input
              type="text"
              id="firstName"
              class="form-control"
              v-model="userData.firstName">
          </div>
          <div>
            <label for="lastName">Last Name</label>
            <input
              type="text"
              id="lastName"
              class="form-control"
              v-model="userData.lastName">
          </div>
          <div>
            <label for="email">E-mail</label>
            <input
              type="text"
              id="email"
              class="form-control"
              v-model="userData.email">
          </div>
          <div>
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              class="form-control"
              v-model="userData.password">
          </div>
          <div class="form-group">
            <label>Store Data?</label>
            <label for="yes">
              <input
                type="radio"
                id="yes"
                value="yes"
                v-model="userData.storeData"> Yes    
            </label>
            <label for="no">
              <input
                type="radio"
                id="no"
                value="no"
                v-model="userData.storeData"> No
            </label>
          </div>
          <div class="row">
            <button
              class="btn btn-primary"
              @click.prevent="submitted"> Submit 
            </button>
          </div>

          <!-- Exercise 2 -->
          <!-- Only display the Form if it has NOT been submitted -->
          <!-- Display the Data Summary ONCE the Form HAS been submitted -->

          <!-- Exercise 3 -->
          <!-- Edit the Example from above and create a custom "Full Name" Control -->
          <!-- which still holds the First Name and Last Name Input Field -->
        </div>
      </div>
    </form>
    <hr>
    <div class="row" v-if="isSubmitted">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>Your Data</h4>
          </div>
          <div class="panel-body">
            <p>Full Name: {{ userData.fullName }}</p>
            <p>Mail: {{ userData.email }}</p>
            <p>Password: {{ userData.password }}</p>
            <p>Store in Database?: {{ userData.storeData }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        userData: {
          firstName: '',
          lastName: '',
          fullName: '',
          email: '',
          password: '',
          storeData: 'Yes'
        },
        isSubmitted: false
      }
    },
    methods: {
      submitted() {
        this.isSubmitted = true;
        this.userData.fullName = this.userData.firstName + ' ' + this.userData.lastName;
      }
    }
  }
</script>

<style>
</style>
