<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>
  <div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
      <button @click="startEffect">Start Effect</button>
      <div id="effect" :class="{ highlight: highlight, shrink: shrink}"></div>
    </div>

    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div :class="[{red: gotClass}, {large: gotClass}]">I got no class :(</div>

    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
      <input type="text" v-model="class2">
      <div :class="[class2, {large: gotClass}]">Change Me with a class name</div>
    </div>

    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) 
      and attach the classes -->
    <div>
      <input type="text" v-model="class3">
      <input type="text" v-model="class4">
      <div :class="[class3, {italic: class4}]">Change me too!</div>
    </div>

    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <div>
      <input type="text" v-model="fontSize2">
      <div :style="{'font-size': fontSize2 + 'px'}">Change Me with a value for font size</div>
    </div>

    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div>
      <button @click="progressBar">Start Progress</button>
      <div id="progress" :style="[{width:barWidth + 'px'}]"></div>
      <p>{{barWidth}}</p>
    </div>
  </div>
  

  <script src="app.js"></script>
</body>
</html>

