#effect {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

#progress {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  background-color: blueviolet;
}

.highlight {
  background-color: red;
  width: 200px !important;
}

.shrink {
  background-color: gray;
  width: 50px !important;
}

.red {
  color: red;
  font-style: italic;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.large {
  font-size: 4rem;
  font-weight: 900;
}

.italic {
  font-style: italic;
}