<template>
  <div class="container">
    <app-header></app-header>
    <hr>
      <app-body></app-body>
    <hr>
    <app-footer></app-footer>
  </div>
</template>

<script>
  import Header from './Header.vue';
  import Footer from './Footer.vue';
  import ServerBody from './ServerBody.vue';
  export default {
    components: {
      'app-header': Header,
      'app-footer': Footer,
      'app-body': ServerBody
    }
  }
</script>

<style>

</style>
