<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="vue.js"></script>
</head>
<body>
  <div id="exercise">
    <!-- 1) Show an alert when the Button gets clicked -->
    <div>
      <button v-on:click="buttonAlert()">Show Alert</button>
    </div>
    <!-- 2) Listen to the "keydown" event and store the value in a data property (hint: event.target.value gives you the value) -->
    <div>
      <input type="text" v-on:keydown="value1 = $event.target.value">
      <p>{{ value1 }}</p>
    </div>
    <!-- 3) Adjust the example from 2) to only fire if the "key down" is the ENTER key -->
    <div>
      <input type="text" v-on:keydown.enter="value2 = $event.target.value">
      <p>{{ value2 }}</p>
    </div>
</div>

  <script>
		new Vue({
      el: '#exercise',
      data: {
        value1: '',
        value2: ''
      },
      methods: {
        buttonAlert: function() {
          alert('Button was clicked!');
        }
      }
    });
  </script>
</body>
</html>



