<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="counter++">Increase</button>
    <button v-on:click="counter--">Decrease</button>
    <button v-on:click="secondCounter++">Increase Second</button>
    <p>Counter: {{ counter }} | {{ secondCounter }}</p>
    <p>Result: {{ result() }} | {{ output }}</p>
  </div>

  <script>
		new Vue({
      el: '#app',
      // data is not reactive, we can not put calculations or functions here
      data: {
        counter: 0,
        secondCounter: 0
      },
      computed: {
        output: function() {
          console.log('Computed');
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
        }
      },
      watch: {
        counter: function(value) {
          var vm = this; // since the function is scoped, we have to bind this
          setTimeout(function() {
            vm.counter = 0;
          }, 2000)
        }
      },
      methods: {
        result: function() {
          console.log('Method')
          return this.counter > 5 ? 'Greater than 5' : 'Smaller than 5'
        }
      }
    });
  </script>
</body>
</html>