<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="increase(2, $event)">Click Me!</button>
    <button v-on:click="counter++">Click Me!</button>
    <p>{{ counter * 2 > 10 ? 'Greater than 10' : 'Smaller than 10' }}</p>
    <p v-on:mousemove="updateCoordinates">
      Coordinates {{ x }} / {{ y }}
      - <span v-on:mousemove.stop="">DEAD SPOT</span>
    </p>
    <input type="text" v-on:keyup.enter.space="alertMe">
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        counter: 0,
        x: 0,
        y: 0
      },
      methods: {
        increase: function(step, event) {
          this.counter += step;
        },
        updateCoordinates: function(event) {
          this.x = event.clientX;
          this.y = event.clientY;
        },
        alertMe: function() {
          alert('Alert!');
        }
      }
    });
  </script>
</body>
</html>