<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br>
                <button class="btn btn-primary" @click="selectedComponent = 'appBlue', color='Blue'">Load Blue Template</button>
                <button class="btn btn-success" @click="selectedComponent = 'appGreen', color='Green'">Load Green Template</button>
                <button class="btn btn-danger" @click="selectedComponent = 'appRed', color='Red'">Load Red Template</button>
                <hr>
                <component :is="selectedComponent">
                  <p>Color is {{color}}</p>
                </component>
                <hr>
                <!-- <app-blue></app-blue>
                <app-green></app-green>
                <app-red></app-red> -->
            </div>
        </div>
    </div>
</template>

<script>
    import Blue from './components/Blue.vue';
    import Green from './components/Green.vue';
    import Red from './components/Red.vue';

    export default {
      data: function() {
      return {
        selectedComponent: 'appRed',
        color: 'Red'
      }
    },
        components: {
            appBlue: Blue,
            appGreen: Green,
            appRed: Red
        }
    }
</script>

<style>
</style>
