<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-on:input="changeTitle">
      <p>
       {{ title }}
      </p>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        title: 'Hello World'
      },
      methods: {
        changeTitle: function(event) {
        this.title = event.target.value;
        }
      }
    });
  </script>
</body>
</html>