<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="">
  <script src="vue.js"></script>
</head>
<body>
  <div id="exercise">
    <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
      <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
      <!-- 2) Output your age, multiplied by 3 -->
      <p>AGE * 3 = {{ ageX3() }}</p>
      <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
      <p>RANDOM NUMBER BETWEEN 0 AND 1: {{ randomNum() }}</p>
      <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
      <div>
        <img v-bind:src="image" style="width:100px;height:100px">
      </div>
      <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
      <div>
        <input type="text" v-bind:value="name">
      </div>
    </div>

  <script>
    new Vue({
      el: '#exercise',
      data: {
	      name: 'Steve',
        age: '43',
        image: 'https://upload.wikimedia.org/wikipedia/commons/6/6e/Joseph_Banks_1773_Reynolds.jpg'
	    },
      methods: {
        ageX3: function() {
          return this.age * 3;
        },
        randomNum: function() {
          return Math.random();
        }
      }
    })
  </script>
</body>
</html>